/* MASK */
/* MASK */
/* MASK */

@font-face {
  font-family: "Mask-Reg";
  src: url("./fonts/maskr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mask-Bold";
  src: url("./fonts/maskb.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mask-Italic";
  src: url("./fonts/maski.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mask-Light";
  src: url("./fonts/maskl.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

/* SUNDAY */
/* SUNDAY */
/* SUNDAY */

@font-face {
  font-family: "Sunday-Reg";
  src: url("./fonts/VTCSundaykomix.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
